<div class="container mx-auto">
  <div class="flex justify-center items-center h-screen">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-blue-400">Hello, TailwindCSS!</h1>
      <p class="text-zinc-400">This is a simple example of using TailwindCSS with Sinatra.</p>
    </div>
  </div>
</div>

